#main {
    padding-top: calc(74px);
}

@media (min-width: 992px) {
    #main {
      padding-top: calc(88px);
    }
}

.footer {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background-color: #2c3e50;
  color: #fff;
}

.hs-bg-primary {
  background-color:rgb(230, 228, 228);
}
.bg-primary-2 {
  background-color:rgb(255, 255, 255);
}

#mainNav {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  border-bottom: 2px solid transparent;
  transition: border-bottom .2s, color .2s;
  font-size: 0.9rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: darkgray;
  border-color: darkgray;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  background: none;
  color: #fff;
  border-color: darkgray;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active:hover {
  color: darkgray;
  background: none;
}


.masthead {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* .masthead {
  background-image: url("../img/");
  background-repeat: no-repeat;
  background-size: cover;
} */

.masthead .masthead-heading {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.masthead .masthead-avatar {
    width: 270px;
    height: 270px;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 1.75rem;
    line-height: 1.5rem;
  }
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  text-align: justify;
  /* border: 2px solid red; */
}  

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: justify;
}

.lead-title {
  font-size: 4.25rem;
  font-weight: 300;
  text-align: justify;
}

.floating-label-form-group label {
  font-size: 1em;
  line-height: 5.5em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  opacity: 100;
}

.page-section-2 {
  padding: 3rem 0;
}
.page-section-2 .page-section-heading {
  font-size: 4rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .page-section-2 .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

/* Popup styles for the open layers map */
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 80px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.popup-content{
  font-size: 1rem;
  font-weight: 10;
  margin-top : 1rem;
  text-align: center;
}

.table-section{
  margin-left: 5%;
  margin-right: 5%;
  display: none;
  padding: 1rem 0;
}