{% extends 'base.html' %}

{% block title %}Donnnées et statistiques{% endblock %}

{% block content %}

<head>
	<title>Data page</title>
	<script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=7rcsZZMPcx8l_7wm0a_wMWveIXnxg4V4mRqQdQgg2D7HFQlZ5FsSUOnXb14eoTIG8gapUSDc1tyCi_CDcq-Ule1QLnHc07YyvgoGw8pXnJg" charset="UTF-8"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
	<script src="../static/js/utils.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

    

	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

{% include 'navbar2.html' %}

<div id="Data" style="display: none;">
	{% if user.is_authenticated %}

	<p class="lead">
		<h4 style="padding-left: 3%;">Dernières données de la station</h4>
	</p>

		<section class="table-section bg-primary-2 text-dark mb-0" style="display: block;" id="table"> 
			<table id="table_data" class="display compact hover row-border" margin-right="10%" margin-left="10%" style="width:80%">
				<thead>
					<tr>
						<th>Date de la mesure</th>
						<th>Heure de la mesure</th>
						<th>Mesure [mm]</th>
					</tr>
				</thead>
				<tbody>
					{% for elem in data %}
					<tr>
						<td>{{elem.tilting_date}}</td>
						<td>{{elem.tilting_time}}</td>
						<td>{{elem.tilting_mm}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table> 
		</section>

	{% endif %}
</div>

<div id="Means">

	<!-- The $.noConflict(); is a quick fix to ensure the jquery.js is loaded before the dataTable.js file-->
		<script>
			$(document).ready( function () {
				$.noConflict();
				$('#table_data').DataTable();
				$('#table_mean_day').DataTable();
				$('#table_mean_week').DataTable();
				$('#table_mean_year').DataTable();
				$('#table_intensity').DataTable();
			} );
		</script>

	<p class="lead">
		<h4 style="padding-left: 3%;">Moyennes pluviométriques de la station</h4>
	</p>

	<a class="btn btn-x1 btn-outline-secondary active" id="showMeanDayTable" style="margin-left: 3%;">Moyennes journalières</a>
	<a class="btn btn-x1 btn-outline-secondary" id="showMeanWeekTable" style="margin-left: 1%; margin-right: 1%;">Moyennes hebdomadaires</a>
	<a class="btn btn-x1 btn-outline-secondary" id="showMeanYearTable">Moyennes annuelles</a>

	<script>
		$('.btn').on('click', function(){
			$(this).siblings().removeClass('active');
			$(this).toggleClass('active');
		});
	</script>

	<section class="table-section bg-primary-2 text-dark mb-0" style="display: block;" id="tableMeanDaySection"> 
		<table id="table_mean_day" class="display compact hover row-border" margin-right="10%" margin-left="10%" style="width:80%">
			<thead>
				<tr>
					<th>Date</th>
					<th>Moyenne du jour [mm]</th>
					<th>Maximum [mm]</th>
					<th>Minimum [mm]</th>
				</tr>
			</thead>
			<tbody>
				{% for elem in meandaytable %}
				<tr>
					<td>{{elem.mean_day}}</td>
					<td>{{elem.mean_per_day}}</td>
					<td>{{elem.max_per_day}}</td>
					<td>{{elem.min_per_day}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table> 
	</section>
	<section class="table-section bg-primary-2 text-dark mb-0" id="tableMeanWeekSection"> 
		<table id="table_mean_week" class="display compact hover row-border" margin-right="10%" margin-left="10%" style="width:80%">
			<thead>
				<tr>
					<th>Semaine</th>
					<th>Moyenne de la semaine [mm]</th>
					<th>Maximum [mm]</th>
					<th>Minimum [mm]</th>
				</tr>
			</thead>
			<tbody>
				{% for elem in meanweektable %}
				<tr>
					<td>{{elem.mean_week}}</td>
					<td>{{elem.mean_per_week}}</td>
					<td>{{elem.max_per_week}}</td>
					<td>{{elem.min_per_week}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table> 
	</section>
	<section class="table-section bg-primary-2 text-dark mb-0" id="tableMeanYearSection"> 
		<table id="table_mean_year" class="display compact hover row-border" margin-right="10%" margin-left="10%" style="width:80%">
			<thead>
				<tr>
					<th>Année</th>
					<th>Moyenne de l'année [mm]</th>
					<th>Maximum [mm]</th>
					<th>Minimum [mm]</th>
				</tr>
			</thead>
			<tbody>
				{% for elem in meanyeartable %}
				<tr>
					<td>{{elem.mean_year}}</td>
					<td>{{elem.mean_per_year}}</td>
					<td>{{elem.max_per_year}}</td>
					<td>{{elem.min_per_year}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table> 
	</section>


	<script>
		var tableMeanDay = document.getElementById("tableMeanDaySection");
		var tableMeanWeek = document.getElementById("tableMeanWeekSection");
		var tableMeanYear = document.getElementById("tableMeanYearSection");

		var btnTabMD = document.getElementById("showMeanDayTable")
		var btnTabMW = document.getElementById("showMeanWeekTable")
		var btnTabMY = document.getElementById("showMeanYearTable")



		btnTabMD.onclick = function () {
			tableMeanDay.style.display = "block";
			tableMeanWeek.style.display = "none";
			tableMeanYear.style.display = "none";

		}
		btnTabMW.onclick = function () {
			tableMeanDay.style.display = "none";
			tableMeanWeek.style.display = "block";
			tableMeanYear.style.display = "none";

		}
		btnTabMY.onclick = function () {
			tableMeanDay.style.display = "none";
			tableMeanWeek.style.display = "none";
			tableMeanYear.style.display = "block";

		}
		
	</script>
</div>

<div id="Intensities" style="display: none;">
	<p class="lead">
		<h4 style="padding-left: 3%;">Mesures d'intensité pluviométrique</h4>
	</p>

	<section class="table-section bg-primary-2 text-dark mb-0" style="display: block;" id="tableIntensitySection"> 
		<table id="table_intensity" class="display compact hover row-border" margin-right="10%" margin-left="10%" style="width:80%">
			<thead>
				<tr>
					<th>Jour</th>
					<th>Durée de la mesure [min]</th>
					<th>Maximum [mm]</th>
					<th>Intensité [mm]</th>
				</tr>
			</thead>
			<tbody>
				{% for elem in intensitytable %}
				<tr>
					<td>{{elem.intensity_day}}</td>
					<td>{{elem.duration}}</td>
					<td>{{elem.max_amount}}</td>
					<td>{{elem.intensity}}</td>
					
				</tr>
				{% endfor %}
			</tbody>
		</table> 
	</section>

</div>

<div id="Graphs" style="display: none;">

	<p class="lead">
		<h3 style="padding-left: 3%;">Graphes de données de la station</h3>
	</p>


	<body>

		<div style="margin-right: 10%; margin-left: 10%; width:75%;">
			<canvas id="canvas"></canvas>
		</div>
		<br>
		<br>

		<button id="removeDatasetButton">Remove one Day</button>
		<input type="text" id="removeDataset" name="removeDataset" value = "2021-03-13">
		<button id="addDataButton" >add Data</button>
		<input type="text" id="addData" name="addData" value = "2021-03-13">


		<div style="margin-right: 10%; margin-left: 10%; width:75%;">
			<canvas id="canvas2"></canvas>
		</div>
		<br>
		<br>
		<button id="removeDataset2" style="display: none;">Remove mean Dataset</button>
		<button id="removeData2" style="display: none;">Remove mean Data</button>
		<button id="meanDayButton">get meanday's data</button>
		<button id="addMeanDayButton">add meanday's data</button>
		<input type="text" id="addMeanDay" name="addMeanDay" value = "2021-03-12">
		<br>
		<br>
		<button id="meanWeekButton">get meanweek's data</button>
		<button id="addMeanWeekButton">add meanweek's data</button>
		<input type="text" id="addMeanWeek" name="addMeanWeek" value = "2021-03-13">
		<br>
		<br>
		<button id="meanYearButton">get meanyear's data</button>
		<button id="addMeanYearButton">add meanweek's data</button>
		<input type="text" id="addMeanYear" name="addMeanYear" value = "2021">

		<div style="margin-right: 10%; margin-left: 10%; width:75%;">
			<canvas id="canvas3"></canvas>
		</div>
		<br>
		<br>

		<button id="removeIntensitysetButton">Remove one Day</button>
		<input type="text" id="removeIntensityset" name="removeIntensityset" value = "2021-03-13">
		<button id="addIntensityButton" >add Intensity</button>
		<input type="text" id="addIntensity" name="addIntensity" value = "2021-03-13">



		
		<script>


			//Chart Intensity
			
			var config3 = {
				type: 'line',
				data: {
					labels:{{intensityDuration}},
					datasets: [{
						label: 'Graphes des intensités',
						backgroundColor: window.chartColors.red,
						borderColor: window.chartColors.red,
						data: {{intensityData}},
						fill: false,
					}]
				},
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Exemple de graphiques comparant deux courbes pluviométriques'
					},
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Durée'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Valeur'
							}
						}]
					}
				}
			};


			document.getElementById('removeIntensitysetButton').addEventListener('click', function() {

				var dateToDelete = document.getElementById('removeIntensityset').value

				for (index = 0; index < config3.data.datasets.length ; index ++){
					console.log(config3.data.datasets[index].label)
					if (config3.data.datasets[index].label == dateToDelete) {
						config3.data.datasets.splice(index, 1);
						console.log('effacé')
						index--
					}
				}
				myNewChart3.update();
			});


			document.getElementById('addIntensityButton').addEventListener('click', function() {

				$.ajax({
					url:"/data/"+ {{station.id}}+ "/addDailyIntensity",

					success:  function (result) {

						var dateToAdd = document.getElementById('addIntensity').value
						var r = Math.floor(Math.random() * 255);
						var g = Math.floor(Math.random() * 255);
						var b = Math.floor(Math.random() * 255);
						var newColor =  "rgb(" + r + "," + g + "," + b + ")";

						var newdataset = {
							label: dateToAdd,
							backgroundColor: newColor,
							borderColor: newColor,
							data: result[dateToAdd],
							fill: false,
						}	
						config3.data.datasets.push(newdataset);

						myNewChart3.update();
						
					}
				});
			});
			
			
			
			
			//chart mean
			
			var config2 = {
				type: 'line',
				data: {
					labels:{{meandayDate|safe}},
					datasets: [{
						label: 'Valeurs moyennes journalières',
						backgroundColor: window.chartColors.red,
						borderColor: window.chartColors.red,
						data: {{meandayData}},
						fill: false,
					}]
				},
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Courbe des moyennes journalières pluviométriques'
					},
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Jour'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Valeur [mm]'
							}
						}]
					}
				}
			};



			document.getElementById('removeDataset2').addEventListener('click', function() {
				config2.data.datasets.splice(0, 1);
				myNewChart2.update();
			});

			document.getElementById('removeData2').addEventListener('click', function() {
				config2.data.labels.splice(-1, 1); // remove the label first

				config2.data.datasets.forEach(function(dataset) {
					dataset.pop();
				});

				myNewChart2.update();
			});


			document.getElementById('meanDayButton').addEventListener('click', function() {
				
				while (config2.data.datasets.length > 0){
						config2.data.datasets.splice(config.data.datasets.length-1, 1);
						
				}
				while(config2.data.labels.length > 0){
					config2.data.labels.pop();
				}
		
				myNewChart2.update();

				var r = Math.floor(Math.random() * 255);
				var g = Math.floor(Math.random() * 255);
				var b = Math.floor(Math.random() * 255);
				var newColor =  "rgb(" + r + "," + g + "," + b + ")";
				var newDataset = {
					label: 'Valeurs moyennes journalières',
					backgroundColor: newColor,
					borderColor: newColor,
					data: [],
					fill: false
				};
				config2.data.datasets.push(newDataset);

				var r = Math.floor(Math.random() * 255);
				var g = Math.floor(Math.random() * 255);
				var b = Math.floor(Math.random() * 255);
				var newColor =  "rgb(" + r + "," + g + "," + b + ")";
				var newDataset = {
					label: 'Valeurs maximale journalières',
					backgroundColor: newColor,
					borderColor: newColor,
					data: [],
					fill: false
				};
				config2.data.datasets.push(newDataset);

				var r = Math.floor(Math.random() * 255);
				var g = Math.floor(Math.random() * 255);
				var b = Math.floor(Math.random() * 255);
				var newColor =  "rgb(" + r + "," + g + "," + b + ")";
				var newDataset = {
					label: 'Valeurs minimale journalières',
					backgroundColor: newColor,
					borderColor: newColor,
					data: [],
					fill: false
				};
				config2.data.datasets.push(newDataset);
				

				myNewChart2.update();
			});





			document.getElementById('addMeanDayButton').addEventListener('click', function() {
				
				
				$.ajax({
					url:"/data/"+ {{station.id}}+ "/addMeanDayData",
					
					success:  function (result) {

						var dateToAdd = document.getElementById('addMeanDay').value
						config2.data.labels.push(dateToAdd);
						config2.data.datasets[0].data.push(parseFloat(result[dateToAdd]));
						myNewChart2.update();

					}
				});


				$.ajax({
					url:"/data/"+ {{station.id}}+ "/getMaxDayData",
					
					success:  function (result) {
						var dateToAdd = document.getElementById('addMeanDay').value
						config2.data.datasets[1].data.push(parseFloat(result[dateToAdd]));
						myNewChart2.update();

					}
				});


				$.ajax({
					url:"/data/"+ {{station.id}}+ "/getMinDayData",
					
					success:  function (result) {
						var dateToAdd = document.getElementById('addMeanDay').value
						config2.data.datasets[2].data.push(parseFloat(result[dateToAdd]));
						myNewChart2.update();

					}
				});


				myNewChart2.update();

			});


			document.getElementById('meanWeekButton').addEventListener('click', function() {
				
				while (config2.data.datasets.length > 0){
						config2.data.datasets.splice(config.data.datasets.length-1, 1);
						
				}
				while(config2.data.labels.length > 0){
					config2.data.labels.pop();
				}
		
				myNewChart2.update();

				var r = Math.floor(Math.random() * 255);
				var g = Math.floor(Math.random() * 255);
				var b = Math.floor(Math.random() * 255);
				var newColor =  "rgb(" + r + "," + g + "," + b + ")";
				var newDataset = {
					label: 'Valeurs moyennes hebdommadaires',
					backgroundColor: newColor,
					borderColor: newColor,
					data: [],
					fill: false
				};
				config2.data.datasets.push(newDataset);

				var r = Math.floor(Math.random() * 255);
				var g = Math.floor(Math.random() * 255);
				var b = Math.floor(Math.random() * 255);
				var newColor =  "rgb(" + r + "," + g + "," + b + ")";
				var newDataset = {
					label: 'Valeurs maximale hebdommadaires',
					backgroundColor: newColor,
					borderColor: newColor,
					data: [],
					fill: false
				};
				config2.data.datasets.push(newDataset);

				var r = Math.floor(Math.random() * 255);
				var g = Math.floor(Math.random() * 255);
				var b = Math.floor(Math.random() * 255);
				var newColor =  "rgb(" + r + "," + g + "," + b + ")";
				var newDataset = {
					label: 'Valeurs minimale hebdommadaires',
					backgroundColor: newColor,
					borderColor: newColor,
					data: [],
					fill: false
				};
				config2.data.datasets.push(newDataset);
				

				myNewChart2.update();
			});


			document.getElementById('addMeanWeekButton').addEventListener('click', function() {
				
				
				$.ajax({
					url:"/data/"+ {{station.id}}+ "/addMeanWeekData",
					
					success:  function (result) {

						var dateToAdd = document.getElementById('addMeanWeek').value
						config2.data.labels.push(dateToAdd);
						config2.data.datasets[0].data.push(parseFloat(result[dateToAdd]));
						myNewChart2.update();

					}
				});


				$.ajax({
					url:"/data/"+ {{station.id}}+ "/getMaxWeekData",
					
					success:  function (result) {
						var dateToAdd = document.getElementById('addMeanWeek').value
						config2.data.datasets[1].data.push(parseFloat(result[dateToAdd]));
						myNewChart2.update();

					}
				});


				$.ajax({
					url:"/data/"+ {{station.id}}+ "/getMinWeekData",
					
					success:  function (result) {
						var dateToAdd = document.getElementById('addMeanWeek').value
						config2.data.datasets[2].data.push(parseFloat(result[dateToAdd]));
						myNewChart2.update();

					}
				});


				myNewChart2.update();

			});





			document.getElementById('meanYearButton').addEventListener('click', function() {
				
				while (config2.data.datasets.length > 0){
						config2.data.datasets.splice(config.data.datasets.length-1, 1);
				}
				config2.data.labels.pop();
				config2.data.labels = {{meanyearDate|safe}};
				
				
				$.ajax({
					url:"/data/"+ {{station.id}}+ "/getMeanYearData",

					success:  function (result) {

						var colorName = colorNames[config2.data.datasets.length % colorNames.length];
						var newColor = window.chartColors[colorName];
						var newDataset = {
							label: 'mean by year' + config2.data.datasets.length,
							backgroundColor: newColor,
							borderColor: newColor,
							data: [],
							fill: false
						};

						for (var index = 0; index < config2.data.labels.length; ++index) {
							newDataset.data.push(parseFloat(result[index]));
						}

						config2.data.datasets.push(newDataset);
						myNewChart2.update();
					}
				});
				

				myNewChart2.update();
			});


		


			
			//chart Data


			var config = {
				type: 'line',
				data: {
					labels:{{shorterTime|safe}},
					datasets: [{
						label: 'Graphes des intensités',
						backgroundColor: window.chartColors.red,
						borderColor: window.chartColors.red,
						data: {{shorterData}},
						fill: false,
					}]
				},
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Exemple de graphiques comparant deux courbes pluviométriques'
					},
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Durée'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Valeur'
							}
						}]
					}
				}
			};


			document.getElementById('removeDatasetButton').addEventListener('click', function() {

				var dateToDelete = document.getElementById('removeDataset').value

				for (index = 0; index < config.data.datasets.length ; index ++){
					console.log(config.data.datasets[index].label)
					if (config.data.datasets[index].label == dateToDelete) {
						config.data.datasets.splice(index, 1);
						console.log('effacé')
						index--
					}
				}
				myNewChart.update();
			});


			document.getElementById('addDataButton').addEventListener('click', function() {

				$.ajax({
					url:"/data/"+ {{station.id}}+ "/addDailyData",

					success:  function (result) {

						var dateToAdd = document.getElementById('addData').value
						var r = Math.floor(Math.random() * 255);
						var g = Math.floor(Math.random() * 255);
						var b = Math.floor(Math.random() * 255);
						var newColor =  "rgb(" + r + "," + g + "," + b + ")";

						var newdataset = {
						label: dateToAdd,
							backgroundColor: newColor,
							borderColor: newColor,
							data: result[dateToAdd],
							fill: false,
						}	
						config.data.datasets.push(newdataset);

						myNewChart.update();
						
					}
				});
			});



			function function1() {
				var ctx = document.getElementById('canvas').getContext('2d');
				myNewChart = new Chart(ctx, config);
			}

			function function2() {
				var ctx2 = document.getElementById('canvas2').getContext('2d');
				myNewChart2 = new Chart(ctx2, config2);
			}

			function function3() {
				var ctx3 = document.getElementById('canvas3').getContext('2d');
				myNewChart3 = new Chart(ctx3, config3);
			}

			
			function graphfunction(){
				function1();
				function2();
				function3();
			}

			window.onload = graphfunction;


		</script>

	</script>

	</body>

</div>

<script>
	var tableMeans = document.getElementById("Means");
	var tableIntensities = document.getElementById("Intensities");
	var tableGraphs = document.getElementById("Graphs");
	var tableData = document.getElementById("Data");

	var btnMeans = document.getElementById("showMeans")
	var btnIntensities = document.getElementById("showIntensities")
	var btnGraphs = document.getElementById("showGraphs")
	var btnData = document.getElementById("showData")


	btnData.onclick = function () {
		tableData.style.display = "block"
		tableMeans.style.display = "none";
		tableIntensities.style.display = "none";
		tableGraphs.style.display = "none";

	}
	btnMeans.onclick = function () {
		tableData.style.display = "none"
		tableMeans.style.display = "block";
		tableIntensities.style.display = "none";
		tableGraphs.style.display = "none";

	}
	btnIntensities.onclick = function () {
		tableData.style.display = "none"
		tableMeans.style.display = "none";
		tableIntensities.style.display = "block";
		tableGraphs.style.display = "none";

	}
	btnGraphs.onclick = function () {
		tableData.style.display = "none"
		tableMeans.style.display = "none";
		tableIntensities.style.display = "none";
		tableGraphs.style.display = "block";

	}
	
</script>

{% endblock %}