{% extends 'base.html' %}

{% block title %}Donnnées et statistiques{% endblock %}

{% block content %}

<head>
	<title>Data page</title>
	<script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=7rcsZZMPcx8l_7wm0a_wMWveIXnxg4V4mRqQdQgg2D7HFQlZ5FsSUOnXb14eoTIG8gapUSDc1tyCi_CDcq-Ule1QLnHc07YyvgoGw8pXnJg" charset="UTF-8"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
	<script src="../static/js/utils.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

    

	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<p class="lead">
	<h2>Nom de la station : {{station.name}}</h2>
</p>

<p class="lead">
	{{station.description}}
</p>

<p class="lead mt-4">
	<h3>Tableaux de données de la station</h3>
</p>

{% if user.is_authenticated %}

<p class="lead">
	<h4>Dernières données de la station</h4>
</p>

    <section class="table-section bg-primary-2 text-dark mb-0" style="display: block;" id="table"> 
        <table id="table_data" class="display" margin-right="10%" margin-left="10%" style="width:80%">
            <thead>
                <tr>
					<th>Date de la mesure</th>
					<th>Heure de la mesure</th>
                    <th>Mesure [mm]</th>
                </tr>
            </thead>
            <tbody>
				{% for elem in data %}
                <tr>
					<td>{{elem.tilting_date}}</td>
					<td>{{elem.tilting_time}}</td>
                    <td>{{elem.tilting_mm}}</td>
                </tr>
				{% endfor %}
            </tbody>
        </table> 
    </section>

{% endif %}

<!-- The $.noConflict(); is a quick fix to ensure the jquery.js is loaded before the dataTable.js file-->
    <script>
        $(document).ready( function () {
            $.noConflict();
			$('#table_data').DataTable();
            $('#table_mean_day').DataTable();
			$('#table_mean_week').DataTable();
			$('#table_mean_year').DataTable();
			$('#table_intensity').DataTable();
        } );
	</script>

<p class="lead">
	<h4>Moyennes pluviométriques de la station</h4>
</p>

<a class="btn btn-x1 btn-outline-secondary active" id="showMeanDayTable" style="margin-left: 5%;">Moyennes journalières</a>
<a class="btn btn-x1 btn-outline-secondary" id="showMeanWeekTable" style="margin-left: 1%; margin-right: 1%;">Moyennes hebdomadaires</a>
<a class="btn btn-x1 btn-outline-secondary" id="showMeanYearTable">Moyennes annuelles</a>

<script>
	$('.btn').on('click', function(){
		$(this).siblings().removeClass('active');
		$(this).toggleClass('active');
	});
</script>

<section class="table-section bg-primary-2 text-dark mb-0" style="display: block;" id="tableMeanDaySection"> 
	<table id="table_mean_day" class="display" margin-right="10%" margin-left="10%" style="width:80%">
		<thead>
			<tr>
				<th>Date</th>
				<th>Moyenne du jour [mm]</th>
				<th>Maximum [mm]</th>
				<th>Minimum [mm]</th>
			</tr>
		</thead>
		<tbody>
			{% for elem in meandaytable %}
			<tr>
				<td>{{elem.mean_day}}</td>
				<td>{{elem.mean_per_day}}</td>
				<td>{{elem.max_per_day}}</td>
				<td>{{elem.min_per_day}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table> 
</section>
<section class="table-section bg-primary-2 text-dark mb-0" id="tableMeanWeekSection"> 
	<table id="table_mean_week" class="display" margin-right="10%" margin-left="10%" style="width:80%">
		<thead>
			<tr>
				<th>Semaine</th>
				<th>Moyenne de la semaine [mm]</th>
				<th>Maximum [mm]</th>
				<th>Minimum [mm]</th>
			</tr>
		</thead>
		<tbody>
			{% for elem in meanweektable %}
			<tr>
				<td>{{elem.mean_week}}</td>
				<td>{{elem.mean_per_week}}</td>
				<td>{{elem.max_per_week}}</td>
				<td>{{elem.min_per_week}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table> 
</section>
<section class="table-section bg-primary-2 text-dark mb-0" id="tableMeanYearSection"> 
	<table id="table_mean_year" class="display" margin-right="10%" margin-left="10%" style="width:80%">
		<thead>
			<tr>
				<th>Année</th>
				<th>Moyenne de l'année [mm]</th>
				<th>Maximum [mm]</th>
				<th>Minimum [mm]</th>
			</tr>
		</thead>
		<tbody>
			{% for elem in meanyeartable %}
			<tr>
				<td>{{elem.mean_year}}</td>
				<td>{{elem.mean_per_year}}</td>
				<td>{{elem.max_per_year}}</td>
				<td>{{elem.min_per_year}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table> 
</section>


<script>
	var tableMeanDay = document.getElementById("tableMeanDaySection");
	var tableMeanWeek = document.getElementById("tableMeanWeekSection");
	var tableMeanYear = document.getElementById("tableMeanYearSection");

	var btnTabMD = document.getElementById("showMeanDayTable")
	var btnTabMW = document.getElementById("showMeanWeekTable")
	var btnTabMY = document.getElementById("showMeanYearTable")



	btnTabMD.onclick = function () {
		tableMeanDay.style.display = "block";
		tableMeanWeek.style.display = "none";
		tableMeanYear.style.display = "none";

	}
	btnTabMW.onclick = function () {
		tableMeanDay.style.display = "none";
		tableMeanWeek.style.display = "block";
		tableMeanYear.style.display = "none";

	}
	btnTabMY.onclick = function () {
		tableMeanDay.style.display = "none";
		tableMeanWeek.style.display = "none";
		tableMeanYear.style.display = "block";

	}
	
</script>

<p class="lead">
	<h4>Mesures d'intensité pluviométrique</h4>
</p>

<section class="table-section bg-primary-2 text-dark mb-0" style="display: block;" id="tableIntensitySection"> 
	<table id="table_intensity" class="display" margin-right="10%" margin-left="10%" style="width:80%">
		<thead>
			<tr>
				<th>Jour</th>
				<th>Durée de la mesure</th>
				<th>Maximum</th>
				<th>Intensité</th>
			</tr>
		</thead>
		<tbody>
			{% for elem in intensitytable %}
			<tr>
				<td>{{elem.intensity_day}}</td>
				<td>{{elem.duration}}</td>
				<td>{{elem.max_amount}}</td>
				<td>{{elem.intensity}}</td>
				
			</tr>
			{% endfor %}
		</tbody>
	</table> 
</section>




<p class="lead">
	<h3>Graphes de données de la station</h3>
</p>


<body>

	<div style="margin-right: 10%; margin-left: 10%; width:75%;">
		<canvas id="canvas"></canvas>
	</div>
	<br>
	<br>
	<button id="randomizeData">Randomize Data</button>
	<button id="addDataset">Add Dataset</button>
	<button id="removeDataset">Remove Dataset</button>
	<button id="addData">Add Data</button>
	<button id="removeData">Remove Data</button>
	<button id="meandayButton">get meanday's data</button>



	<div style="margin-right: 10%; margin-left: 10%; width:75%;">
		<canvas id="canvas2"></canvas>
	</div>
	<br>
	<br>
	<button id="randomizeData2">Randomize Data2</button>
	<button id="addDataset2">Add Dataset2</button>
	<button id="removeDataset2">Remove Dataset2</button>
	<button id="addData2">Add Data2</button>
	<button id="removeData2">Remove Data2</button>
	<button id="meandayButton2">get meanday's data2</button>


	<div style="margin-right: 10%; margin-left: 10%; width:75%;">
		<canvas id="canvas3"></canvas>
	</div>
	<br>
	<br>
	<button id="randomizeData3">Randomize Data3</button>
	<button id="addDataset3">Add Dataset3</button>
	<button id="removeDataset3">Remove Dataset3</button>
	<button id="addData3">Add Data3</button>
	<button id="removeData3">Remove Data3</button>
	<button id="meandayButton3">get meanday's data3</button>
	
	<script>
		//var DURATIONS = []
		//var DATA = []
		//{% for elem in intensitytable %}
		//	DURATIONS.push({{elem.duration}});
		//	DATA.push({{elem.intensity}});
		//{% endfor %}

		
		//Chart data
		
		var config3 = {
			type: 'line',
			data: {
				labels:{{intensityDuration}},
				datasets: [{
					label: 'Graphes des intensités',
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: {{intensityData}},
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Exemple de graphiques comparant deux courbes pluviométriques'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Durée'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Valeur'
						}
					}]
				}
			}
		};

		document.getElementById('randomizeData3').addEventListener('click', function() {
			config3.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});

			});

			window.myLine.update();
		});

		var colorNames = Object.keys(window.chartColors);
		document.getElementById('addDataset3').addEventListener('click', function() {
			var colorName = colorNames[config3.data.datasets.length % colorNames.length];
			var newColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Ensemble de données' + config3.data.datasets.length,
				backgroundColor: newColor,
				borderColor: newColor,
				data: [],
				fill: false
			};

			for (var index = 0; index < config3.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}

			config3.data.datasets.push(newDataset);
			window.myLine.update();
		});

		document.getElementById('addData3').addEventListener('click', function() {
			if (config3.data.datasets.length > 0) {
				var duration = DURATIONS[config3.data.labels.length % DURATIONS.length];
				config3.data.labels.push(duration);

				config3.data.datasets.forEach(function(dataset) {
					dataset.data.push(randomScalingFactor());
				});

				window.myLine.update();
			}
		});

		document.getElementById('removeDataset3').addEventListener('click', function() {
			config3.data.datasets.splice(0, 1);
			window.myLine.update();
		});

		document.getElementById('removeData3').addEventListener('click', function() {
			config3.data.labels.splice(-1, 1); // remove the label first

			config3.data.datasets.forEach(function(dataset) {
				dataset.pop();
			});

			window.myLine.update();
		});

		document.getElementById('meandayButton3').addEventListener('click', function() {
			
			while (config3.data.datasets.length > 0){
					config3.data.datasets.splice(config3.data.datasets.length-1, 1);
			}
			config3.data.labels.pop();
			//config.data.labels = {{meandayDate}};

		//	myLineChart.scale.xLabels = {{meandayDate}};

			window.myLine.update();
		});
		
		
		
		
		
		//chart mean
		
		var config2 = {
			type: 'line',
			data: {
				labels:['{{meandayDate}}'],
				datasets: [{
					label: 'Graphes des intensités',
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: {{meandayData}},
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Exemple de graphiques comparant deux courbes pluviométriques'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Durée'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Valeur'
						}
					}]
				}
			}
		};

		document.getElementById('randomizeData2').addEventListener('click', function() {
			config2.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});

			});

			window.myLine.update();
		});

		var colorNames = Object.keys(window.chartColors);
		document.getElementById('addDataset2').addEventListener('click', function() {
			var colorName = colorNames[config2.data.datasets.length % colorNames.length];
			var newColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Ensemble de données 2' + config2.data.datasets.length,
				backgroundColor: newColor,
				borderColor: newColor,
				data: [],
				fill: false
			};

			for (var index = 0; index < config2.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}

			config2.data.datasets.push(newDataset);
			window.myLine.update();
		});

		document.getElementById('addData2').addEventListener('click', function() {
			if (config2.data.datasets.length > 0) {
				var duration = DURATIONS[config2.data.labels.length % DURATIONS.length];
				config2.data.labels.push(duration);

				config2.data.datasets.forEach(function(dataset) {
					dataset.data.push(randomScalingFactor());
				});

				window.myLine.update();
			}
		});

		document.getElementById('removeDataset2').addEventListener('click', function() {
			config2.data.datasets.splice(0, 1);
			window.myLine.update();
		});

		document.getElementById('removeData2').addEventListener('click', function() {
			config2.data.labels.splice(-1, 1); // remove the label first

			config2.data.datasets.forEach(function(dataset) {
				dataset.pop();
			});

			window.myLine.update();
		});

		document.getElementById('meandayButton2').addEventListener('click', function() {
			
			while (config2.data.datasets.length > 0){
					config2.data.datasets.splice(config.data.datasets.length-1, 1);
			}
			config2.data.labels.pop();
			

			window.myLine.update();
		});

		
		//IDF chart


		// var Times = []
		// //var DATA = []
		// {% for elem in shorterTime %}
		// 	times.push{{{elem);
		// {% endfor %}
		
		//Chart data

		var config = {
			type: 'line',
			data: {
				labels:['time 1','time 2','time 3','time 4','time 5','time 6','time 7'],
				datasets: [{
					label: 'Graphes des intensités',
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: {{shorterData}},
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Exemple de graphiques comparant deux courbes pluviométriques'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Durée'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Valeur'
						}
					}]
				}
			}
		};


		document.getElementById('randomizeData').addEventListener('click', function() {
			config.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});

			});

			window.myLine.update();
		});

		var colorNames = Object.keys(window.chartColors);
		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[config.data.datasets.length % colorNames.length];
			var newColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Ensemble de données ' + config.data.datasets.length,
				backgroundColor: newColor,
				borderColor: newColor,
				data: [],
				fill: false
			};

			for (var index = 0; index < config.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}

			config.data.datasets.push(newDataset);
			window.myLine.update();
		});

		document.getElementById('addData').addEventListener('click', function() {
			if (config.data.datasets.length > 0) {
				var duration = DURATIONS[config.data.labels.length % DURATIONS.length];
				config.data.labels.push(duration);

				config.data.datasets.forEach(function(dataset) {
					dataset.data.push(randomScalingFactor());
				});

				window.myLine.update();
			}
		});

		document.getElementById('removeDataset').addEventListener('click', function() {
			config.data.datasets.splice(0, 1);
			window.myLine.update();
		});

		document.getElementById('removeData').addEventListener('click', function() {
			config.data.labels.splice(-1, 1); // remove the label first

			config.data.datasets.forEach(function(dataset) {
				dataset.pop();
			});

			window.myLine.update();
		});

		document.getElementById('meandayButton').addEventListener('click', function() {
			
			while (config.data.datasets.length > 0){
					config.data.datasets.splice(config.data.datasets.length-1, 1);
			}
			config.data.labels.pop();
			//config.data.labels = {{meandayDate}};

		//	myLineChart.scale.xLabels = {{meandayDate}};

			window.myLine.update();
		});





		function function1() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		}

		function function2() {
			var ctx2 = document.getElementById('canvas2').getContext('2d');
			window.myLine = new Chart(ctx2, config2);
		}

		function function3() {
			var ctx3 = document.getElementById('canvas3').getContext('2d');
			window.myLine = new Chart(ctx3, config3);
		}

		
		function graphfunction(){
			function1();
			function2();
			function3();
		}

		window.onload = graphfunction;

	</script>

</body>



{% endblock %}