
<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Adresse</h4>
                <p class="lead mb-0 text-center">
                    10 Impasse Ambroise
                    <br />
                    Port-au-Prince, Haïti
                </p>
            </div>
            <!-- Empty column-->
            <div class="col-lg-4">
                
            </div>
            <!-- Footer Contact us-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Contactez-nous</h4>
                <p class="lead mb-0">
                    Vous pouvez nous joindre en remplissant un formulaire ci-dessous
                    {% url 'contact:contact' as contact_url %} 
                    <a href="{{ contact_url }}">Contact</a>
                    
                </p>
            </div>
        </div>
    </div>
</footer>