{% url 'public:index' as index_url %}
{% url 'public:data' as data_url %}
{% url 'public:about' as about_url %} 
{% url 'accounts:profile' as profile_url %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:logout' as logout_url %}
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ index_url }}">Pluviométrie en Haïti</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold hs-bg-primary text-white rounded" href="main.css" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger {% if request.path == index_url %}active{% endif %}" href="{{ index_url }}">Accueil</a></li>

                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger {% if request.path == data_url %}active{% endif %}" href="{{ data_url }}">Données et Statistiques</a></li>
                
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger {% if request.path == about_url %}active{% endif %}" href="{{ about_url }}">A propos</a></li>

                {% if user.is_authenticated %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger {% if request.path == profile_url %}active{% endif %}" href="{{ profile_url }}">
                        {% with profil=user.profil %}
                            {% if profil %}
                                {{ profil.firstname|default:"Utilisateurs" }}
                            {% endif %}
                        {% endwith %}
                    </a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger {% if request.path == logout_url %}active{% endif %}" href="{{ logout_url }}">Logout</a></li>
                {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger {% if request.path == login_url %}active{% endif %}" href="{{ login_url }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- 
<nav>
    {% url 'public:index' as index_url %}
    <!- - fonction inverse url pour retrouver dynamiquement index par ex- ->
    <span>{% if request.path == index_url %}Accueil{% else %}<a href="{{ index_url }}">Accueil</a>{% endif %}</span> 
    {% url 'public:données' as données_url %}    
    <span>{% if request.path == données_url %}Données et statistiques{% else %}<a href="{{ données_url }}">Données et statistiques</a>{% endif %}</span>
    {% url 'public:about' as about_url %}
    <span>{% if request.path == about_url %}A propos{% else %}<a href="{{ about_url }}">A propos</a>{% endif %}</span>
    <span style="float:right">
        {% if user.is_authenticated %}
            {% url 'accounts:profil' as profil_url %}
            <span>Hi {% if request.path == profil_url %}{{user.username}}!{% else %}<a href="{{ profil_url }}">{{user.username}}</a>{% endif %}</span>
            <span><a href="{% url 'accounts:logout' %}">Logout</a></span>
        {% else %}
            <span><a href="{% url 'accounts:login' %}">Login</a></span>
        {% endif %}
    </span>
</nav> -->