{% extends 'base.html' %}

{% block title %}A propos{% endblock %}

{% block content %}
<h1 align="center">
    A propos
</h1>


<!-- Information Section-->
<section class="page-section bg-primary-2 text-dark mb-0" id="information">
    <div class="container" >
        <!-- Information Section Content-->
        <div class="row">
            <div class="col-lg-4 mx-auto"><p class="lead">Cette application a été concue par les étudiants Nicolas Verbois et Florian 
                Duprez dans le cadre de leur travail de fin d'études. Ce travail a été le fruit d'un partenariat entre l'université de 
            Louvain-La-Neuve et l'université d'Haïti. Ce projet humanitaire a pour mission d'aider les citoyen d'Haïti à
            accéder aux données pluviométrique à l'aide d'une carte interactive du pays affichant les différentes stations 
            pluviométriques. </p></div>
        </div>
    </div>
</section>

<h1 align="center">
    Que pouvez vous apprendre et découvrir sur ce site web?
</h1>

<!-- Information Section-->
<section class="page-section bg-primary-2 text-dark mb-0" id="information">
    <div class="container" >
        <!-- Information Section Content-->
        <div class="row">
            <div class="col-lg-4 mx-auto"><p class="lead"> Vous trouverez premièrement une carte interactive d'Haiti  
                surlaquelle vous distinguerez les différentes stations participant à ce projet. Chaque station enverra régulièrement
                ses données pluviométriques pour vous informer des situations météorlogiques dans les différentes régions d'Haiti.
            </p></div>
        </div>
    </div>
</section>

<!-- Information Section-->
<section class="page-section bg-primary-2 text-dark mb-0" id="information">
    <div class="container">
        <!-- Information Section Content-->
        <div class="row">
            <div class="col-lg-4 mx-auto"><p class="lead"> Vous aurez aussi l'opportunité de comparer les différentes données présentes
                sur notre site web et de réaliser des statistiques au travers de tableaux comparatifs  et de graphiques qui seront à 
                votre disposition. 
            </p></div>
        </div>
    </div>
</section>

<h1 align="center">
    Un soucis?
</h1>

<!-- Information Section-->
<section class="page-section bg-primary-2 text-dark mb-0" id="information">
    <div class="container">
        <!-- Information Section Content-->
        <div class="row">
            <div class="col-lg-4 mx-auto"><p class="lead"> En cas de problèmes, de questions ou si vous avez besoin d'aide, il vous
                 est tout à fait possible de nous contacter. Sur la page de "contact" vous avez la possibilité de nous envoyer 
                 un message via  un mail où nos administrateurs et technicien s'occuperont de prendre en charge votre requête.
            </p></div>
        </div>
    </div>
</section>


{% endblock %}