{% extends 'base.html' %}

{% block title %}À propos{% endblock %}

{% block content %}
<h1 class="lead-title text-center center" style="margin-top: 1rem;">
    À propos
</h1>



<!-- Premier paragraphe "À propos" -->
<section class="page-section bg-primary-2 text-dark mb-0" id="introduction">
    <div class="container" >
        <!-- Contenu du pragraphe -->
        <div class="row">
            <div class="col-lg-8 mx-auto"><p class="lead">
                Cette application a été concue par deux étudiants ingénieurs belges dans le cadre 
                de leur mémoire. Ce travail a été le fruit 
                d'un partenariat entre l'Université de Louvain-La-Neuve et l'Université d'Haïti. 
                Ce projet a pour mission d'aider la population à ac haïtienne à accéder aux 
                données pluviométrique à l'aide d'une carte interactive du pays affichant les 
                différentes stations pluviométriques. 
            </p></div>
        </div>
    </div>
</section>

<h1 class="lead-title text-center center">
    Que pouvez vous apprendre et découvrir sur ce site web?
</h1>


<!-- Second paragraphe "Que pouvez vous apprendre ..." -->
<section class="page-section bg-primary-2 text-dark mb-0" id="information">
    <div class="container" >
        <!-- Contenu du paragraphe -->
        <div class="row">
            <div class="col-lg-8 mx-auto"><p class="lead"> Vous trouverez premièrement une carte interactive d'Haïti  
                sur laquelle vous distinguerez les différentes stations répertoriées dans ce projet. Chaque station enverra régulièrement
                ses données pluviométriques pour vous informer des situations pluviométriques dans les différentes régions du pays.
            </p></div>
            <div class="col-lg-8 mx-auto"><p class="lead"> Vous aurez aussi l'opportunité de comparer les différentes données présentes
                sur notre site web et de réaliser des statistiques au travers de tableaux comparatifs et de graphiques qui seront à 
                votre disposition. 
            </p></div>
        </div>
    </div>
</section>


<h1 class="lead-title text-center center">
    Un souci ?
</h1>

<!-- Troisième paragraphe "Un souci ?" -->
<section class="page-section bg-primary-2 text-dark mb-0" id="contact">
    <div class="container">
        <!-- Contenu du parapgrphe -->
        <div class="row">
            <div class="col-lg-8 mx-auto"><p class="lead"> En cas de problèmes, de questions ou si vous avez besoin d'aide, il vous
                 est tout à fait possible de nous contacter. Sur la page de "Contact" prévue à cet effet et accessible en bas de page, vous avez la possibilité de nous envoyer 
                 un message via un mail afin que nos administrateurs et technicien s'occupent de prendre en charge votre requête.
            </p></div>
        </div>
    </div>
</section>


{% endblock %}